<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./inc/head.ejs') %> 
</head>
<body>
      <%- include('./inc/nav.ejs') %>

      <br><br/>
     <center> <h1>Sayfa bulunamıyor</h1></center>
      
</body>
</html>