<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('./inc/head') %>
</head>

<body>
      
      <%- include('./inc/nav.ejs') %> 

     <section>
      
      <% let name='Murat Görkem Taşlaroğlu' %> 
      <h1>Yazar  | <%= name %></h1>
      <p> 
            Bu çalışmada profesyonel yazılım mühendisliği uygulamaları dersinin proje ödevi için node.js kullanarak oluşturulmuş metin yayınlama amaçlı basit bir blog sitesi uygulamasıdır.
      </p>

     </section>

</body>

</html>